<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <style>
        .text-white { color:white }
    </style>
</head>
<body style="background-color:black">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color:#00a65a">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" style="font-size: 28px;">My Book Recommender</a>
        
        <!-- Mobile toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/recommend">Recommend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white" style="font-size:50px">Recommend Books</h1>
                <form action="/recommend_books" method="post">
                    <input list="books" name="user_input" class="form-control" placeholder="Type a book title"><br>

                    <datalist id="books">
                        {% for name in pt_index %}
                            <option value="{{ name.title() }}">
                        {% endfor %}
                    </datalist>

                    <input type="submit" class="btn btn-lg btn-warning">
                </form>

                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}

                {% if data and data|length > 0 %}
                    {% for i in range(data|length) %}
                        {% if i % 4 == 0 %}
                            <div class="row">
                        {% endif %}

                        <div class="col-3" style="margin-top:20px">
                            <img src="{{ data[i][2] }}" class="img-fluid">
                            <p class="text-white">{{ data[i][0] }}</p>
                            <p class="text-white">{{ data[i][1] }}</p>
                        </div>

                        {% if i % 4 == 3 or i == data|length - 1 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (for navbar toggle) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pZjw8f+ua7Kw1TIq0C8F8wYQWQ5y7c6zM6zWZn1mZlX5g2yx8/0mM5QZL+iw0QnN"
            crossorigin="anonymous"></script>
</body>
</html>
